<!doctype html>
<html lang="en" class="page-{{ page.fileSlug }}">
  {% render 'head.liquid' %}
  <body>
    <div class="home-frame">
      <header>
        {%- svg 'media/locene-logo.svg' %}
        {{ content }}
      </header>
      {% render 'divider.liquid' %}
      <nav class="link-list">
        {%- for link in links %}
          <a class="fancy-link" href="{{ link.url }}">
            <div class="link-title" href="{{ link.url }}">
              {% svg 'icons/left.svg' %}
              <div class="title">
                {{ link.title }}
              </div>
              {% svg 'icons/right.svg' %}
            </div>
            {% if link.content %}
              <div class="link-content">
                {{ link.content }}
              </div>
            {% endif %}
          </a>
        {%- endfor %}
      </nav>
    </div>
  </body>
</html>
